body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.orange-color{
    color:orange;
}

.flexible-container{
    display: flex;
}

.half-width{
    width: 50%;
    /* padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%; */
    padding: 5%;
}

.half-width img{
    width: 100%;
}
.hiremebtn{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange tomato);
    color: white;
    font-weight: 400;
}
.top-header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item{

    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    border-left: 5px solid yellowgreen;

}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 5%;
}
#experience1{
    border-left: 7px solid violet;
    border-image: linear-gradient(yellowgreen blue);
    border-image-slice: 1;
}

footer{
    text-align: center;
  margin-bottom: 20px;

}

.experience-text{
    margin-left: 5%;
}
img {
    border-radius: 50%;

  
  }


